<button class="btn btn-primary" (click)="canShow = !canShow; logEvent($event)">Display Details</button>
<p *ngIf="canShow; else hideSecret">Secret Password = tuna</p>
<ng-template #hideSecret><p>Hidden Secret</p></ng-template>
<h2>Events</h2>
<!--<p-->
<!--  *ngFor="let event of logEvents"-->
<!--  [ngClass]="{ color: logEvents.length >= 5 }" >-->
<!--  {{event}}-->
<!--</p>-->
<p
  *ngFor="let event of logEvents; let i = index"
  [ngStyle]="{ backgroundColor: i >= 4 ? 'cornflowerblue' : 'transparent' }"
  [ngClass]="{ 'white-text': i >= 4 }">
  {{event}}
</p>
<!--<p-->
<!--  *ngFor="let event of logEvents; let i = index" [attr.data-index]="i"-->
<!--  [ngStyle]="{ backgroundColor: i >= 4 ? 'cornflowerblue' : 'transparent' }"-->
<!--  [ngClass]="{ 'white-text': i >= 4 }">-->
<!--  {{event}}-->
<!--</p>-->

